{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- 标题 -->
    <h2 class="archive__item-title" itemprop="headline">
    {{ title }}
    </h2>

    <!-- 引用 -->
    {% if post.citation %}
      <p>{{ post.citation }}</p>
    {% endif %}

    <!-- 下载链接 -->
    {% if post.paperurl or post.slidesurl or post.bibtexurl %}
      <p>
        {% if post.paperurl %}<a href="{{ post.paperurl }}">Download</a>{% endif %}
        {% if post.slidesurl %}{% if post.paperurl %} | {% endif %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
        {% if post.bibtexurl %}{% if post.paperurl or post.slidesurl %} | {% endif %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
      </p>
    {% endif %}

  </article>
</div>
